
.Comment-container{
  max-height: 450px;

}



.Comment-container a{
  text-decoration: none;
  color: #132743; 
  font-weight: 600;
  font-size: 14px;
}


.Comment-container a:hover{
  color: #407088; 
}

.Comment-title-and-owner-info{
  display: flex;
  align-items: center;
}

.Comment-profile-img{
  width: 40px;
  margin-right: 5px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}


.Comment-title-like-icon{
  cursor: pointer;
}
.Comment-post-content{
  width:50%;
  margin-top: 20px;
  max-height: 200px;
  border-radius: 30px;
  object-fit: cover;
}

.Comment-post-data{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 10px;

}

.Comment-like{
display: flex;
  margin-left:25%;
}