
.CreatePost-Container{
  margin: 20px;
  width: 90%;
  max-height: 500px;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0px 10px 13px -7px #d6d6d6, 25px -14px 15px 26px rgba(242, 242, 242, 0.827); 
box-shadow: 0px 10px 13px -7px #b5b4b4, 25px -14px 15px 26px rgba(242, 242, 242, 0.093);
}


.CreatePost-Container a{
  text-decoration: none;
  color: #132743; 
  font-weight: 600;
  font-size: 14px;
}


.CreatePost-Container a:hover{
  color: #407088; 
}

.CreatePost-background-controller{
  padding: 8px;
}

.CreatePost-profile-img{
  width: 40px;
  margin-right: 5px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.CreatePost-profile-title{
  display: flex;
  align-items: center;
}

.CreatePost-joke-title{
 margin-left: 15px;
  width: 90%;
  border: none;
}

.CreatePost-joke-title:focus{
  outline: none;
}

.CreatePost-buttom{
  display: flex;
  flex-direction: column;

}
.CreatePost-bbottom-buttons{
  margin: 0 15px;
display: flex;
justify-content:space-between;
align-items: center;
}

.CreatePost-submit{
  padding:10px 25px;
  background-color: #81acbd	; 
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
}

.CreatePost-submit:hover{
  background-color: #5F9EA0; 
}

.CreatePost-discard{
  padding:10px 25px;
  background-color: #01240b; 
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
}

.CreatePost-discard:hover{
  background-color: #5F9EA0; 
}

