.SideBar-right{
  flex: 4;
  padding: 10px;

}

.SideBar-right-container{
  margin: 40px;

}

.SideBar-right-birthday{
  
  display: flex;
  align-items: flex-end;
}

.SideBar-Right-Follower-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.SideBar-Right-Follower-info a{
  text-decoration: none;
color: #132743; 
font-weight: 600;
font-size: 16px;
}

.SideBar-Right-Follower-info a:hover{
  color: #407088; 
}

.SideBar-right-birthday-icon{
  margin-right: 5px;
}



.SideBar-right-random-meme-title{
  margin-top: 50px;
  padding: 0 10px;

}

.SideBar-right-random-meme{
  padding: 0 10px;
 width: 90%;
 margin-bottom: 30px;
 max-height: 500px;
 border-radius: 25px;
 cursor: pointer;


}

.SideBar-right-online-followers-item{
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.SideBar-right-fallowers-image{
  margin-right: 10px;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 12px;
}

.SideBar-right-online-followers{

  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.SideBar-right-friends-container{
  margin-left: 10px;
}

.SideBar-right-titles{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SideBar-right-titles a{
  margin-left: 250px;
justify-self: flex-end;
}
