*{
  font-family: 'Source Sans Pro', sans-serif;

}
body{
  background-color: rgb(230, 226, 226);
}


/* 
.first-color { 
	background: #ffb5b5; 
}
	
.second-color { 
	background: #f48f8f; 
}

.third-color { 
	background: #407088; 
}

.fourth-color { 
	background: #132743;  */