.ErrorPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.ErrorPage-image{
  width:500px;
  margin-top: 200px;
  margin-bottom: 30px;
}


.ErrorPage-btn{
  padding:10px 25px;
  background-color: #81acbd	; 
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
}

.ErrorPage-btn:hover{
  background-color: #5F9EA0; 
}