.ProfilePage-container {
  display: flex;
  width: 100%;
}

.ProfilePage-container hr{
  margin: 40px 0;;
}

.ProfilePage-container a{
  text-decoration: none;
  color: #132743; 
  font-weight: 600;
  font-size: 14px;
}

.ProfilePage-container a:hover{

  color: #407088; 
}
  



.ProfilePage-right{
  flex: 9;
}

.ProfilePage-right-bottom{
display: flex;

}

.ProfilePage-right-top-images{
  height:450px;
  position: relative;
}

.ProfilePage-right-top-coverimage{
  width: 100%;
  height: 370px;
  object-fit: cover;
  background-color: rgb(154, 154, 154);
}

.ProfilePage-right-top-profileimage{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  left: 40px;
  top: 270px;
  border: 3px solid whitesmoke;
 
}

.ProfilePage-right-top-userinfo{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 215px;
  top: 320px;
}

.ProfilePage-right-top-username{
  color:white;
  text-shadow: 2px 1px 8px #000000;
}

.ProfilePage-right-top-catchphrase{
width: 80%;
text-align: start;
}

.ProfilePage-right-userDetail{
  display: flex;
text-align: left;
width: 90%;
}


.ProfilePage-right-bottom-right{
  flex:3;
}


.ProfilePage-left{
  flex:3;
}

.ProfilePage-right-ProfileFeeds{
  flex:6;
}

.ProfilePage-right-bottom-right-followerslist{
  margin-top: 20px;
}

.ProfilePage-right-followbtn{
  padding:10px 25px;
  background-color: #ffb5b5; 
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
}

.ProfilePage-right-followbtn:hover{
  background-color: #f48f8f; 
}